.all-products-container{
    display: flex;
    justify-content: center;
    width: 1366;
}

@media screen and (max-width:767px){
    .all-products-container{
        display: flex;
        flex-direction: column;
    }
}
