.filters-list-container{
    width: 500px;
    height: 870px;
    opacity: 0px;
    background-color:#F0FFE5;
    color: #6E6E6E;
    padding: 20px;
    margin-right: 15px;
}


.list-item{
    display: flex;
    justify-content: space-between;
}


