.plants-list-container{
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width-767px) {
  .plants-list-container{
    flex-direction: column;
  }
}

.sort-by-button{width: Hug (139px)px;
height: 36pxpx;
top: 719px;
left: 533px;
padding: 6px 7px 6px 7px;
gap: 15px;
opacity: 0px;
background: #165315;
color: #fff;
}
.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .page-button.active {
    background-color: #165315;
    color: white;
    border: none;
  }
  
  .sort-by-options{
    display: flex;
    margin-left: 30px;
  }
  